<footer class="footer-dark">
    <div class="container">
        <div class="row footer-item-cover">
            <div class="footer-subscribe col-md-7 col-lg-8">
                <h6>subscribe</h6>
                <p>Subscribe us and you won't miss the new arrivals, as well as discounts and sales.</p>
                <form class="subscribe-form">
                    <i class="fa fa-at" aria-hidden="true"></i>
                    <input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
                    <button type="submit" class="btn btn-form btn-green"><span>send</span></button>
                </form>
            </div>
            <div class="footer-item col-md-5 col-lg-4">
                <h6>info</h6>
                <ul class="footer-list">
                    <li><a href="shop.html">About Us</a></li>
                    <li><a href="shop.html">Contact Us</a></li>
                    <li><a href="shop.html">Careers</a></li>
                    <li><a href="shop.html">FAQs</a></li>
                    <li><a href="shop.html">Terms & Conditions</a></li>
                    <li><a href="shop.html">Cancellation & Returns</a></li>
                    <li><a href="shop.html">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-item-cover">
            <div class="footer-touch col-md-7 col-lg-8">
                <h6>stay in touch</h6>
                <ul class="footer-soc social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
                <div class="footer-autor">Questions? Please write us at: <a href="mailto:info@spares4india.com">info@spares4india.com</a></div>
            </div>
            <div class="footer-item col-md-5 col-lg-4">
                <h6>shop</h6>
                <ul class="footer-list">
                    <li><a href="shop.html">
                        Non Woven Bag Making Machine</a></li>
                      
                    <li><a href="shop.html">Hydraulic Punching Machine</a></li>
                    <li><a href="shop.html">Semi Automatic Handle Fixing Machine</a></li>
                    <li><a href="shop.html">Single Spot Handle Fixing Machine</a></li>
                    <li><a href="shop.html">Double Spot Handle Fixing Machine</a></li>
                    <li><a href="shop.html">Mask Making Machine</a></li>
                    <li><a href="shop.html">Ultrasonic Sewing Machine</a></li>

                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright"><a target="_blank" href="https://spares4india.com">Spares4India</a> © 2022. All Rights Reserved.</div>
            <ul class="footer-pay">
                <li><a href="#"><img src="assets/img/footer-pay-1.png" alt="img"></a></li>
                <li><a href="#"><img src="assets/img/footer-pay-2.png" alt="img"></a></li>
                <li><a href="#"><img src="assets/img/footer-pay-3.png" alt="img"></a></li>
                <li><a href="#"><img src="assets/img/footer-pay-4.png" alt="img"></a></li>
            </ul>
        </div>
    </div>
</footer>