<app-header></app-header>
<!--================ PRELOADER ================-->
	<div class="preloader-cover">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--============== PRELOADER END ==============-->
	<!-- ================= HEADER ================= -->

	<!-- =============== HEADER END =============== -->

	<!-- =============== main-slider =============== -->
	<section class="s-main-slider s-dark-slider">
		<ul class="main-soc-list">
			<li><a href="https://www.facebook.com/Spares4India-103677002161712">facebook</a></li>
			<li><a href="https://www.instagram.com/spares4india">twitter</a></li>
			<li><a href="https://www.instagram.com/spares4india">instagram</a></li>
		</ul>
		<div class="dark-slider">
			<div class="dark-slide" style="background-image: url(assets/img/bg-slider-2.jpg);">
				<span class="bg-text-right">Spares4India</span>
				<span class="effect-bg-dark" style="background-image: url(assets/img/effect-dark-slider.svg);"></span>
				<div class="container">
					<div class="dark-slide-info">
						<h2 class="name">Stepper Drive</h2>
						<div class="model">new</div>
						<div class="price">From ₹1000</div>
						<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
					</div>
					<img class="dark-slide-img" src="assets/img/dark-slide-1.png" alt="img">
				</div>
			</div>
			<div class="dark-slide" style="background-image: url(assets/img/bg-slider-2.jpg);">
				<span class="bg-text-right">Spares4India</span>
				<span class="effect-bg-dark" style="background-image: url(assets/img/effect-dark-slider.svg);"></span>
				<div class="container">
					<div class="dark-slide-info">
						<h2 class="name">Relays & Sensors</h2>
						<div class="model">New</div>
						<div class="price">From ₹2000</div>
						<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
					</div>
					<img class="dark-slide-img" src="assets/img/dark-slide-2.png" alt="img">
				</div>
			</div>
			<div class="dark-slide" style="background-image: url(assets/img/bg-slider-2.jpg);">
				<span class="bg-text-right">Spares4India</span>
				<span class="effect-bg-dark" style="background-image: url(assets/img/effect-dark-slider.svg);"></span>
				<div class="container">
					<div class="dark-slide-info">
						<h2 class="name">Transducer</h2>
						<div class="model">New</div>
						<div class="price">From ₹2000</div>
						<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
					</div>
					<img class="dark-slide-img" src="assets/img/dark-slide-3.png" alt="img">
				</div>
			</div>
		</div>
		<div class="dark-slide-navigation"></div>
	</section>
	<!-- ============= main-slider end ============= -->

	<!--============== S-DARK-CATEGORY ==============-->
	<section class="s-dark-category">
		<div class="container">
			<div class="dark-category-cover row">
				<div class="dark-category-left col-md-8">
					<a href="single-shop.html" class="dark-category-item dark-category-big" style="background-image: url(assets/img/dark-categ-1.png);">
						<div class="dark-categ-info">
							<div class="name">NEW</div>
							<h3 class="title">DOVEL DRIVE</h3>
							<div class="price">
							</div>
						</div>
						<img class="lazy" src="assets/img/dark-categ-img-3.png" alt="img">
					</a>
					<a href="shop.html" class="dark-category-item" style="background-image: url(assets/img/dark-categ-2.png);">
						<div class="dark-categ-info">
							<div class="name">free shiping</div>
							<h3 class="title">spare parts</h3>
						</div>
						<img class="lazy" src="assets/img/dark-categ-img-2.png" alt="img">
					</a>
					<a href="shop.html" class="dark-category-item" style="background-image: url(assets/img/dark-categ-2.png);">
						<div class="dark-categ-info">
							<div class="name">free shiping</div>
							<h3 class="title">accessories</h3>
						</div>
						<img class="lazy" src="assets/img/dark-categ-img-3.png" alt="img">
					</a>
				</div>
				<div class="dark-category-right col-md-4">
					<a href="shop.html" class="dark-category-item" style="background-image: url(assets/img/dark-categ-3.png);">
						<div class="dark-categ-info">
							<h3 class="title">all accessories</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
						</div>
						<img class="lazy" src="assets/img/dark-categ-img-4.png" alt="img">
					</a>
				</div>
			</div>
		</div>
	</section>

	<!--================== S-SUBSCRIBE ==================-->
	<section class="s-subscribe s-dark-subscribe" style="background-image: url(assets/img/bg-dark-subscribe.jpg);">
		<span class="mask"></span>
		<span class="subscribe-effect" style="background-image: url(assets/img/effect-subscribe-img.svg);"></span>
		<div class="container">
			<div class="subscribe-left">
				<h2 class="title"><span>Subscribe</span></h2>
				<p>Subscribe us and you won't miss the new arrivals, as well as discounts and sales.</p>
				<form class="subscribe-form">
					<i class="fa fa-at" aria-hidden="true"></i>
					<input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
					<button type="submit" class="btn btn-form btn-green"><span>send</span></button>
				</form>
			</div>
			<img class="wow fadeInRightBlur lazy" data-wow-duration=".8s" data-wow-delay=".2s" src="assets/img/subscribe-img.png" alt="img">
		</div>
	</section>
	<!--================ S-SUBSCRIBE END ================-->

	<!--================== S-TOP-SALE ==================-->
	<section class="s-top-sale">
		<div class="container">
			<h2 class="title">Top sale</h2>
			<div class="row product-cover">
				<div class="col-sm-6 col-lg-3">
					<div class="product-item product-item-dark">
						<ul class="product-icon-top">
							<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
						<a href="single-shop.html" class="product-img"><img class="lazy" src="assets/img/dark-prod-1.jpg" alt="product"></a>
						<div class="product-item-content">
							<div class="product-item-cover">
								<div class="price-cover">
									<div class="new-price">₹1499</div>
									<div class="old-price">₹1799</div>
								</div>
								<h6 class="prod-title"><a href="single-shop.html">Non Woven Bag Making Machine</a></h6>
								<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
							</div>
							<div class="prod-info">
								<ul class="prod-list">
									<li>Frame Size: <span>17</span></li>
									<li>Class: <span>City</span></li>
									<li>Number of speeds: <span>7</span></li>
									<li>Type: <span>Rigid</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="product-item product-item-dark">
						<ul class="product-icon-top">
							<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
						<a href="single-shop.html" class="product-img"><img class="lazy" src="assets/img/dark-prod-2.jpg" alt="product"></a>
						<div class="product-item-content">
							<div class="product-item-cover">
								<div class="price-cover">
									<div class="new-price">₹1499</div>
									<div class="old-price">₹1799</div>
								</div>
								<h6 class="prod-title"><a href="single-shop.html">Variable Frequency Drive (VFD)</a></h6>
								<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
							</div>
							<div class="prod-info">
								<ul class="prod-list">
									<li>Frame Size: <span>17</span></li>
									<li>Class: <span>City</span></li>
									<li>Number of speeds: <span>7</span></li>
									<li>Type: <span>Rigid</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="product-item product-item-dark">
						<ul class="product-icon-top">
							<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
						<a href="single-shop.html" class="product-img"><img class="lazy" src="assets/img/dark-prod-3.jpg" alt="product"></a>
						<div class="product-item-content">
							<div class="product-item-cover">
								<div class="price-cover">
									<div class="new-price">₹1499</div>
									<div class="old-price">₹1799</div>
								</div>
								<h6 class="prod-title"><a href="single-shop.html">Variable Frequency Drive (VFD)</a></h6>
								<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
							</div>
							<div class="prod-info">
								<ul class="prod-list">
									<li>Frame Size: <span>17</span></li>
									<li>Class: <span>City</span></li>
									<li>Number of speeds: <span>7</span></li>
									<li>Type: <span>Rigid</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="product-item product-item-dark">
						<ul class="product-icon-top">
							<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
						</ul>
						<a href="single-shop.html" class="product-img"><img class="lazy" src="assets/img/dark-prod-4.jpg" alt="product"></a>
						<div class="product-item-content">
							<div class="product-item-cover">
								<div class="price-cover">
									<div class="new-price">₹1499</div>
									<div class="old-price">₹1799</div>
								</div>
								<h6 class="prod-title"><a href="single-shop.html">Variable Frequency Drive (VFD)</a></h6>
								<a href="single-shop.html" class="btn btn-green"><span>buy now</span></a>
							</div>
							<div class="prod-info">
								<ul class="prod-list">
									<li>Frame Size: <span>17</span></li>
									<li>Class: <span>City</span></li>
									<li>Number of speeds: <span>7</span></li>
									<li>Type: <span>Rigid</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ S-TOP-SALE END ================-->

	<!--================== S-FEEDBACK ==================-->
	<section class="s-feedback s-dark-feedback" style="background-image: url(assets/img/bg-dark-feedback.jpg);">
		<span class="effwct-bg-feedback" style="background-image: url(assets/img/dark-effect-img.svg);"></span>
		<span class="mask" style="background-image: url(assets/img/dark-effect-bg.png);"></span>
		<div class="container">
			<h2 class="title">feedback</h2>
			<div class="feedback-slider">
				<div class="feedback-slide">
					<div class="feedback-item">
						<div class="feedback-content">
							<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit magna”</p>
						</div>
						<div class="feedback-item-top">
							<img src="assets/img/feedback-photo-1.png" alt="photo">
							<div class="feedback-title">
								<h5 class="title"><span>Hameed Ibrahim</span></h5>
								<ul class="rating">
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-not-bg"><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="feedback-slide">
					<div class="feedback-item">
						<div class="feedback-content">
							<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit magna”</p>
						</div>
						<div class="feedback-item-top">
							<img src="assets/img/feedback-photo-2.png" alt="photo">
							<div class="feedback-title">
								<h5 class="title"><span>Hameed Ibrahim</span></h5>
								<ul class="rating">
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-not-bg"><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="feedback-slide">
					<div class="feedback-item">
						<div class="feedback-content">
							<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit magna”</p>
						</div>
						<div class="feedback-item-top">
							<img src="assets/img/feedback-photo-3.png" alt="photo">
							<div class="feedback-title">
								<h5 class="title"><span>Hameed Ibrahim</span></h5>
								<ul class="rating">
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-not-bg"><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="feedback-slide">
					<div class="feedback-item">
						<div class="feedback-content">
							<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit magna”</p>
						</div>
						<div class="feedback-item-top">
							<img src="assets/img/feedback-photo-2.png" alt="photo">
							<div class="feedback-title">
								<h5 class="title"><span>Hameed Ibrahim</span></h5>
s								<ul class="rating">
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-not-bg"><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ S-FEEDBACK END ================-->

	<!--================== S-OUR-NEWS ==================-->
	<section class="s-our-news dark-our-news">
		<div class="container">
			<h2 class="title">Our News</h2>
			<div class="news-cover row">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="news-item">
						<h5 class="title"><a href="news.html">doloremque laudantium, totam rem aperiam, eaque ipsa quae</a></h5>
						<div class="news-post-thumbnail">
							<a href="news.html"><img class="lazy" src="assets/img/news-1.jpg" alt="news"></a>
						</div>
						<div class="meta">
							<span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Dec 26,2019</span>
							<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i> By <a href="#">Hameed</a></span>
						</div>
						<div class="post-content">
							<p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include a search engine, online advertising technologies, cloud computing, software, and hardware.</p>
						</div>
						<a href="news.html" class="btn-news">read more</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="news-item">
						<h5 class="title"><a href="news.html"></a></h5>
						<div class="news-post-thumbnail">
							<a href="single-news.html"><img class="lazy" src="assets/img/news-2.jpg" alt="news"></a>
						</div>
						<div class="meta">
							<span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Dec 26,2019</span>
							<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i> By <a href="#">Hameed</a></span>
						</div>
						<div class="post-content">
							<p></p>
						</div>
						<a href="single-news.html" class="btn-news">read more</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="news-item">
						<h5 class="title"><a href="news.html">On the other hand, we denounce with righteous indignation a</a></h5>
						<div class="news-post-thumbnail">
							<a href="news.html"><img class="lazy" src="assets/img/news-3.jpg" alt="news"></a>
						</div>
						<div class="meta">
							<span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Dec 26,2019</span>
							<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i> By <a href="#">Hameed</a></span>
						</div>
						<div class="post-content">
							<p>Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include a search engine, online advertising technologies, cloud computing, software, and hardware.</p>
						</div>
						<a href="single-news.html" class="btn-news">read more</a>
					</div>
				</div>
			</div>
			<div class="btn-cover"><a class="btn btn-green" href="news.html"><span>view more</span></a></div>
		</div>
	</section>
	<!--================ S-OUR-NEWS END ================-->


	<!--=================== S-BANNER ===================-->
	<section class="s-banner s-dark-banner" style="background-image: url(assets/img/dark-bg-banner.jpg);">
		<span class="mask" style="background-image: url(assets/img/effect-bg-banner.png);"></span>
		<div class="banner-img">
			<div class="banner-img-bg" style="background-image: url(assets/img/dark-effect-banner.svg);"></div>
			<img class="wow fadeInLeftBlur lazy" data-wow-duration=".8s" data-wow-delay=".2s" src="assets/img/dark-bike-banner.png" alt="img">
		</div>
		<div class="container">
			<h2 class="title">Hyper Stepper Drive</h2>
			<p class="slogan">Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include a search engine, online advertising technologies, cloud computing, software, and hardware.</p>
			<div class="banner-price">
				<div class="new-price">₹1699</div>
				<div class="old-price">₹1799</div>
			</div>
			<div id="clockdiv">
				<div>
					<span class="days"></span>
					<div class="smalltext">Days</div>
				</div>
				<div>
					<span class="hours"></span>
					<div class="smalltext">Hours</div>
				</div>
				<div>
					<span class="minutes"></span>
					<div class="smalltext">Minutes</div>
				</div>
				<div>
					<span class="seconds"></span>
					<div class="smalltext">Seconds</div>
				</div>
			</div>
		</div>
	</section>
	<!--================= S-BANNER END =================-->

	<!--================== S-INSTAGRAM ==================-->
	<section class="s-instagram s-dark-instagram">
		<div class="instagram-cover">
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">234 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">134 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="assets/img/dark-instagram-1.jpg" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">222 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">118 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="assets/img/dark-instagram-2.jpg" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">224 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">124 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="assets/img/dark-instagram-3.jpg" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">155 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">107 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="assets/img/dark-instagram-4.jpg" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">350 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">140 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="assets/img/dark-instagram-5.jpg" alt="img">
			</a>
		</div>
	</section>
	<!--================ S-INSTAGRAM END ================-->

	<!--==================== FOOTER ====================-->

	<!--================== FOOTER END ==================-->

	<!--===================== TO TOP =====================-->
	<a class="to-top" href="#home">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</a>
	<!--=================== TO TOP END ===================-->
    <app-footer></app-footer>
